/* ALERT MESSAGE */

/*
body > .content:before {
    background-color: #000000;
    color: #FFFFFF;
    content: "Introducing link flairs! Please do your part and appropriately label your posts. Also, please report any bugs in the new subreddit style to the mods. ";
    font-family: Verdana;
    font-size: 130%;
    font-weight: bold;
    line-height: 150%;
    padding: 4px;
    width: auto;
    border-radius: 6px;
    position: relative;
    bottom: 8px;
}
*/

/*******************************************************/

/***********************Main Body***********************/

/*******************************************************/

body { background: #f0f0f0; font-family: 'Verdana' !important; }
#header { background: #575757 }
.footer { background: #ffffff; color: #494848; font-size: smaller; font-family: 'Verdana'; padding-bottom: 15px; margin: 15px; border: 1px solid #a5a5a5; border-radius: 0px; display: inline-block }
.footer a { color: #494848 }
div.footer.rounded { box-shadow: 1px 1px 3px #919191; }
.flat-vert.title { font-family: 'Verdana'; color: #494848; }
.flat-vert.title { text-align: center; }
ul.flat-vert { text-align: center !important; }
.buygold { color: #9a7d2e !important; }

/***************************My Subreddits*****************/
#sr-header-area { padding: 1px 0px 1px 0px; background-color: #fff; overflow: hidden; border-bottom: 1px solid #c2c2c2; box-shadow: 1px 1px 3px #b5b4b4; font-size: 90%; color: #b5b4b4 !important; z-index: 2 !important; }

/* Dropdown */
.dropdown.srdrop .selected, .drop-choices.srdrop a.choice, .sr-bar a { color: #494848; }
.srdrop.drop-choices a:hover { color: #494848 !important; background: #787878 !important; }

/* ******************Tabmenu***************************/
#header-bottom-left .tabmenu { z-index: 2; padding: 2px 10px 2px 10px; padding-bottom: -30px; position: absolute; bottom: -20px; left: 110px; }
#header-bottom-left .tabmenu li { height: 18px; display: block; float: left; background: transparent; }
#header-bottom-left .tabmenu li a { background: transparent; border: none; text-align: center; display: block; color: #494848; font-weight: bold; }
#header-bottom-left .tabmenu li a:hover { color: #228822; font-weight: bold; }
#header-bottom-left .tabmenu li.selected a { background: transparent; display: block; color: #890505; font-weight: bold; }
#header .tabmenu { left: 0; border: 0; border-radius: 0; }
#header .tabmenu li:first-child { margin-left: 100px; }

/* ****************User bar**********************/
#header #header-bottom-right { font-weight: bold; padding: 5px 10px !important; top: 70px; bottom: auto; background: #fff; left: 0px; right: 0px; text-align: right; border-radius: 0px; border-bottom: 1px solid #c2c2c2 !important; border-top: 1px solid #c2c2c2 !important; box-shadow: 1px 1px 3px 0px #b5b4b4; padding-bottom: 7px !important; }
#header-bottom-right a { color: #494848; }

/*************************** Sticky ***************/
.titlebox .md > ul:first-child { position: absolute; top: 205px; left: 10px; list-style: none; z-index: 100; }
.titlebox .md>ul:first-child li { display: inline-block; }
.titlebox .md > ul:first-child li a:before { content: "Notice"; padding: 3px; margin-right: 3px; background-color: #c2c2c2; color: #494848 !important; font-weight: bold; }
.titlebox .md > ul:first-child li a { color: #494848; display: inline-block; padding: 3px; padding-left: 0; margin-top: 3px; background-color: #fff; border: 1px solid #c2c2c2; box-shadow: 1px 1px 3px 0px #b5b4b4; }
.titlebox .md > ul:first-child li a:hover { color: #494848; border: 1px solid #a5a5a5; box-shadow: 1px 1px 3px 0px #919191; }
.titlebox .md > ul:first-child li strong a:before { content: "Important"; background-color: #228822; color: #fff !important; }
.titlebox .md > ul:first-child li strong a { border: 1px solid #228822; box-shadow: 1px 1px 3px 0px #228822; }
.titlebox .md > ul:first-child li strong a:hover { border: 1px solid #1a691a; box-shadow: 1px 1px 3px 0px #1a691a; }

/* *****************Sidebar*******************/
.side { padding: 0 5px 5px; margin-top: 30px; z-index: 101; margin-left: 5px; background: transparent; }

/* Search */
#search input[type="text"] { padding-top: 6px; padding-bottom: 6px; background-color: #fff; border: 1px solid #2E2E2E; font-family: 'Verdana'; box-shadow: 1px 1px 3px 0px #2E2E2E; font-size: small; text-align: center; color: #2E2E2E; }
#searchexpando { border: 1px solid #2E2E2E; box-shadow: 1px 1px 3px 0px #2E2E2E; border-radius: 0px; background: #fff; text-align: center; font-family: 'Verdana'; color: #2E2E2E; font-weight: bold; }

/* Linkinfo (From /r/TIL) */
.linkinfo { background-color: white; color: #363636; text-align: center; font-size: 11px; padding: 10px 0px 5px 0px; border: 1px solid #A5A5A5; margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 0px; -moz-border-radius: 0px !important; -webkit-border-radius: 0px !important; -o-border-radius: 0px !important; -ms-border-radius: 0px !important; -khtml-border-radius: 0px !important; border-radius: 0px !important; box-shadow: 1px 1px 3px 0px #919191; }
.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number { font-size: 18px !important; display: block; font-weight: normal !important }
.linkinfo .score .word { display: none }
.linkinfo .score { font-size: 10px; display: block; min-width: 80px; margin-left: 30px !important }
.linkinfo .downvotes .word, .linkinfo .upvotes .word { font-size: 9px; }
.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score { float: left; padding: 5px 9px 5px 0; margin: 8px 9px 10px 0; text-align: center }
.linkinfo .score, .linkinfo .upvotes { border-right: 1px solid #A5A5A5 }
.linkinfo .shortlink { clear: both !important; font-size: 10px; margin: 0px 20px 0px 20px; border: 0px solid #2E2E2E; text-align: center; }
.linkinfo .shortlink input { background: transparent; border: 0px; padding-left: 8px; font-size: 12px; margin-left: auto; margin-right: auto }
.linkinfo .date { padding: 4px; margin-top: -10px; margin-bottom: 7px; color: #FFF; background-color: #2E2E2E; font-size: 12px; }

/* Login form */
.side .recover-password { color: #369; }

/* Submit buttons */
.submit .nub { display: none; }
.submit .morelink { border: 1px solid #2E2E2E; background: #fff; box-shadow: 1px 1px 3px 0px #2E2E2E; }
.submit .morelink a { color: #2E2E2E; letter-spacing: normal; }
.submit .morelink:hover { background: #2E2E2E; border: 0px solid #760404 !important; box-shadow: 1px 1px 3px #2E2E2E; }
.submit .morelink:hover a { color: #fff; }
.side .submit-link { display: none; }
.submit .morelink a { font-size: 0px; content: ""; }
.submit .morelink a::before { font-size: 15px; content: "Submit a New Post"; }
.side .morelink:hover { background-position: 0 -60px; margin-bottom: 78px; }
.side .morelink:hover:after { display: block; content: "Have you read the Subreddit Rules and Disallowed Content? (listed below)"; color: #2E2E2E; background-color: #fff; border: 1px solid #2E2E2E; border-radius: 0px; top: 10px; font-size: 12px; position: relative !important; text-align: center; font-family: "verdana"; letter-spacing: normal; box-shadow: 1px 1px 3px 0px #2E2E2E; }
.titlebox .redditname { font-size: 14px; font-weight: bold; background-color: #f0f0f0 !important; }
.titlebox .redditname a { color: #494848; font-family: "verdana", helvetica, sans-serif; background: #f0f0f0; }
.redditname a:before { content: "/r/"; }

/* Subreddit box */
.side .titlebox > *:not(.usertext) { text-align: center; margin-top: 0; margin-bottom: 0; margin-left: 0px; padding: 4px 0; display: block; background-color: #f0f0f0; }
.side .titlebox > .bottom, .side .titlebox > .clear { border: none !important; background: transparent; }
.res .selector { background-color: #fff !important; }

/* Subscribe buttons */
body:not(.res) .titlebox .fancy-toggle-button { margin-right: 0; }

/* Subscribers */
.titlebox .subscribers .word { display: none; }
.titlebox .subscribers .number:after { content: "  Subscribers"; }

/* Users Online */
.titlebox .users-online .word { display: none; }
.titlebox .users-online .number:after { content: "  Users online"; }
.titlebox .users-online:before { float: none !important; display: inline-block; vertical-align: bottom; }

/* Subreddit box bottom */
.titlebox .tagline { border-bottom-width: 1px !important; padding-left: 20px; }
body:not(.loggedin) .titlebox .users-online { border-bottom: 0px !important; border-top-left-radius: 0px; border-top-right-radius: 0px; }
.login-form-side { border: 1px solid rgb(194, 194, 194) !important; box-shadow: 1px 1px 3px 0px rgb(181, 180, 180) !important; background: none repeat scroll 0% 0% rgb(255, 255, 255) !important; }

/* Usertext */

/* Side Content Boxes */
.side .sidecontentbox { background-color: #fff; border: 1px solid #A5A5A5; color: #494848; box-shadow: 1px 1px 3px 0px #919191; }
.side .sidecontentbox .title { background: #2E2E2E; padding-bottom: 1px; border-bottom: 1px solid #a5a5a5; text-align: center; }
.sidecontentbox .title h1 { background: #494848; color: #fff; text-transform: capitalize; font-size: 14px; font-weight: bold; }
.sidecontentbox .content { border: none; }
.sidecontentbox { position: relative; }
.sidecontentbox .helplink +.title { margin-bottom: 16px; }
.sidecontentbox .helplink { color: #228822; font-size: 11px; font-weight: bold; position: absolute; top: 16px; background: #fff; left: 0; right: 0; padding: 2px 0 2px; text-align: center; border-bottom: 1px solid #a5a5a5; }
.sidecontentbox .title h1 { font-size: 0; content: ''; }
.sidecontentbox .title h1:after, .collapsible .title h1:after, .sidecontentbox .helplink + .title h1:after { font-size: 15px; }
.sidecontentbox .title h1:after { content: 'Recently Viewed Links'; }
.collapsible .title h1:after { content: 'Moderation Tools'; }
.sidecontentbox .helplink + .title h1:after { content: 'Moderators'; }

/* Submit Recommendation button */
.side .titlebox .md h1 a { display: block; margin: 20px 0; padding: 10px; background-color: #183580; font-size: 1.1em; text-align: center; color: #e7d823; }
.side .titlebox h2 { text-align: center; }
.side .titlebox h2 a { font-weight: bold; }

/*Create Your Own Subreddit Button*/
.sidebox.create .spacer { background: transparent; }
.sidebox.create .nub { display: none; }
.sidebox.create .morelink { border: 1px solid #2E2E2E; border-radius: 1px; background: #fff; box-shadow: 1px 1px 3px 0px #2E2E2E; }
.sidebox.create .morelink:hover { background: #2E2E2E; border: 1px solid #2E2E2E; box-shadow: 1px 1px 3px 0px #2E2E2E !important; }
.sidebox.create .morelink:hover a::before { color: #fff; }
.sidebox.create .morelink a { font-size: 0px; content: ''; }
.sidebox.create .morelink a::before { font-size: 15px; color: #2E2E2E; letter-spacing: normal; content: 'Create Your Own Subreddit'; }

/* Content
-------------------------------------------*/
body > .content { background: transparent; margin: 10px; padding: 12px !important; padding-top: 40px !important; }

/*Kemistreekat Attempts a Drop Down Search By Flair Thanks to moon_potato*/
.side .md > ul:nth-of-type(1) { background: #eee; border: 1px solid #aaa; list-style: none; margin: 5px 0; padding: 0; text-align: center; }
.side .md > ul:nth-of-type(1) li { display: none; padding: 4px; text-align: center; }
.side .md > ul:nth-of-type(1) li ~ li { background: #fff; border-top: 1px solid; text-align: center; }
.side .md > ul:nth-of-type(1) li:hover { background: #f7f7f7; text-align: center; }
.side .md > ul:nth-of-type(1) li:first-child { display: block; font-weight: bold; text-align: center; }
.side .md > ul:nth-of-type(1):hover li { display: block; text-align: center; }

/*********************** Links****************/
#siteTable .thing { background-color: #fff; border: 1px solid #c2c2c2; box-shadow: 1px 1px 3px 0px #b5b4b4; padding: 5px 0px 05px 10px; position: relative; z-index: auto; margin-right: 320px; }
#siteTable .thing:hover { border: 1px solid #a5a5a5; box-shadow: 1px 1px 3px 0px #919191; }
#siteTable .thing:active { border: 1px solid #228822 !important; box-shadow: 1px 1px 3px 0px #228822 !important; }
#siteTable .thing > .link .rank { vertical-align: middle !important; }
.entry .buttons li.reported-stamp { border: 1px solid #a5a5a5 !important; box-shadow: 1px 1px 3px 0px #919191; border-radius: 0px !important; color: #434343 !important; padding: 1px 4px !important; }
.pretty-button { border: 1px solid #a5a5a5 !important; box-shadow: 1px 1px 3px 0px #919191 !important; border-radius: 0px !important; padding: 2px 4px !important; }
a.pretty-button { color: #434343 !important; }
a.pretty-button.pressed { color: #fff !important; }
a.pretty-button.positive { background-color: #8ce28c !important; background-image: none !important; opacity: 1 !important; }
a.pretty-button.negative { background-color: #fa7f7f !important; background-image: none !important; opacity: 1 !important; }
a.pretty-button.neutral { background-color: #c2c2c2 !important; background-image: none !important; opacity: 1 !important; }
a.pretty-button.positive.pressed { background-color: #228822 !important; }
a.pretty-button.negative.pressed { background-color: #890505 !important; }
a.pretty-button.neutral.pressed { background-color: #888888 !important; }
.link .title { color: #565656; font-size: 14px; }
.link .title.loggedin { color: #565656; }
.link .title a.title { font-weight: bold !important; }
.link .title:hover { color: #217efd !important; }
.link .title.loggedin:hover { color: #217efd !important; }
.link .title.loggedin.click:hover { color: #217efd !important; }
.link .title.click { color: #a5a5a5; }
.link .title.loggedin.click { color: #a5a5a5; }
.link .title.click:visited { color: #a5a5a5; }
.link .title.loggedin:visited { color: #a5a5a5; }
.link .title.loggedin.click:visited { color: #a5a5a5; }

/* Report Button */
.report-button:hover:before { position: absolute; display: block; z-index: 1000; padding: 0px 2px 0px 2px; border: 2px solid #494848; border-radius: 5px; background: #ef3d3d; content: "If you report this, PLEASE send a message to the moderators detailing how you believe the post/comment breaks the rules."; text-align: center; font-size: 10px; font-weight: bold; color: #fff; margin-left: 5px; margin-top: 17px; }
#mail { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/******************** Submit Page*****************/
.roundfield { background-color: #fff; border: 1px solid #c2c2c2; box-shadow: 1px 1px 3px 0px #b5b4b4; border-radius: 0px !important; }
.roundfield:hover { background-color: #fff; border: 1px solid #a5a5a5; box-shadow: 1px 1px 3px 0px #919191; border-radius: 0px !important; }

/****************************Comments************************/

/* Container */
div.commentarea .comment { overflow: hidden; margin: 0 8px 8px 10px; padding: 5px 1px 0 5px; background-color: #fff; border: 1px solid #C2C2C2 !important; border-radius: 0px !important; }
div.commentarea .comment:hover { border: 1px solid #a5a5a5 !important; }
div.commentarea .sitetable .entry { padding: 2px; margin-bottom: 4px; }
.res-commentBoxes.res-commentBoxes-rounded .commentarea .comment { border-radius: 0 !important; }
.comment { position: relative; z-index: 1; }
.comment .moderator ~ .userattrs:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; background: transparent; opacity: 1; z-index: -1; color: #e9e8e8; border: 2px solid #228822 !important; }

/* Body */
div.commentarea .new-comment .usertext-body { background-color: #E5FFF7; border-color: #CDF2E6; padding-left: 6px; padding-right: 6px; margin-top: 2px; }

/* Children */
div.commentarea .comment .child { margin: 0; }

/* Odd/even colours */
div.commentarea .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f1f1f1 !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #fff !important; }
div.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f1f1f1 !important; }

/* ***********************Spoiler **********************/

a[href$="/spoiler"] { background: black; color: black; text-shadow: none; }
a[href$="/spoiler"]:hover { color: white; }

/* Flair for crests and titles */
.flair { text-indent: 23px; margin-right: 3px; min-width: 23px; height: 23px; display: inline-block; background-repeat: no-repeat; background-image: url(%%crests%%); vertical-align: top; border-width: 0; padding: 0; background-color: transparent }
.flair-GR, .flair-GRH { background-position: 0 -26px; }
.flair-SL, .flair-SLH { background-position: 0 -97px; }
.flair-HF, .flair-HFH { background-position: 0 -50px; }
.flair-RV, .flair-RVH { background-position: 0 -73px; }
.flair-DM { font-weight: bold; background-position: 0 -2px; color: #F70418 }
.flair-GRH { font-weight: bold; color: #901006 }
.flair-SLH { font-weight: bold; color: #09540E }
.flair-HFH { font-weight: bold; color: #E3B000 }
.flair-RVH { font-weight: bold; color: #0f1752 }
.flair-GRP { background-position: 0 -307px; }
.flair-SLP { background-position: 0 -377px; }
.flair-HFP { background-position: 0 -330px; }
.flair-RVP { background-position: 0 -354px; }
.flair-CTKR { background-position: 0 -97px; font-weight: bold; color: #330099 }
.flair-GRQ, .flair-GRJV { background-position: 0 -213px; }
.flair-GRQC { background-position: 0 -120px; }
.flair-HFQ { background-position: 0 -236px; }
.flair-HFQC { background-position: 0 -143px; }
.flair-RVQ { background-position: 0 -260px; }
.flair-RVQC { background-position: 0 -167px; }
.flair-SLQ { background-position: 0 -282px; }
.flair-SLQC { background-position: 0 -189px; }
.flair-GRPRF { background-position: 0 -400px; }
.flair-SLPRF { background-position: 0 -470px; }
.flair-HFPRF { background-position: 0 -424px; }
.flair-RVPRF { background-position: 0 -447px; }
.flair-SANTA { background-position: 0 -497px; }
.flair-HAT { background-position: 0 -522px; }

/*******************************************************/

/**************** Upvote/Downvote Arrows ***************/

/*******************************************************/

.arrow.upmod { background-image: url(%%clickedVote%%); background-position: -1px 0px; height: 24px; width: 25px; }
.arrow.downmod { background-image: url(%%clickedVote%%); background-position: -1px 0px; height: 24px; width: 25px; }
.arrow.down { background-image: url(%%unclickedVote%%); background-position: -1px 0px; height: 24px; width: 25px; }
.arrow.up { background-image: url(%%unclickedVote%%); background-position: -1px 0px; height: 24px; width: 25px; }
.likes .score.likes { color: #C9C600 }
.dislikes .score.dislikes { color: #8A8A8A }
.likes div.score.likes { color: #C9C600 }
.dislikes div.score.dislikes { color: #8A8A8A }
.comment .midcol, element.style { width: 20px; }

/*******************************************************/

/************************FLAIRS*************************/

/*******************************************************/

/*=== ADDS LINK FLAIR IN PLACE OF THUMBNAIL IMAGE ===*/

.linkflair .thumbnail img, .linkflair .entry .title .linkflairlabel { display: none }

/*=== Flair Images ===*/
.linkflair-discussion .thumbnail, .linkflair-req .thumbnail, .linkflair-meta .thumbnail, .linkflair-misc .thumbnail, .linkflair-promo .thumbnail, .linkflair-suggestion .thumbnail { margin-right: 16px; margin-top: 3px; Border: 1px solid black; background: url(%%flairSheet%%); height: 62px; width: 15px; background-repeat: no-repeat; }
.linkflair-discussion .thumbnail { background-position: 0px 0px; }
.linkflair-req .thumbnail { background-position: 0px -62px; }
.linkflair-meta .thumbnail { background-position: 0px -124px; }
.linkflair-misc .thumbnail { background-position: 0px -186px; }
.linkflair-promo .thumbnail { background-position: 0px -248px; }
.linkflair-suggestion .thumbnail { background-position: 0px -310px; }

/********************Banner****************************/
#header-bottom-left { height: 80px; }
#header-bottom-left .redditname { position: relative; bottom: 12px; }
#header-img { margin-top: 10px; margin-left: 20px; margin-right: 20px; }
#header #header-bottom-right { top: 97px; }